@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

#whdahr {
    font-size: 12px;
    font-weight: bold;
    font-family: 'Nanum Gothic Coding', monospace;
    margin-left: 10px;
}